/* Definimos que a sidebar terá uma largura de 120px e cor a cord de fundo #222
*/
body {
    background-color: rgb(219, 208, 193);
}

h2 {
    font-weight: bold; color: rgb(107, 98, 85);
}

#homebtn {
    background-color: rgb(107, 98, 85);
    color: white;
}

#modallogin {
    background-color: rgb(250, 243, 234);
}